@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: #915eff;
  --color-secondary: #aaa6c3;
  --color-tertiary: #151030;
  --color-black-100: #100d25;
  --color-black-200: #090325;
  --color-white-100: #f3f3f3;
}

:root {
  --background: #050816;
  --foreground: #ffffff;
  --primary: #915eff;
  --secondary: #aaa6c3;
  --tertiary: #151030;
  --black-100: #100d25;
  --black-200: #090325;
  --white-100: #f3f3f3;
}

body {
  background: #050816;
  background: radial-gradient(circle at 50% 50%, #171d3a 0%, #050816 100%);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
}

.black-gradient {
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--tertiary);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(-90deg,
      #804dee 0%,
      rgba(60, 51, 80, 0) 100%);
}

.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.orange-text-gradient {
  background: #f12711;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
      #f12711,
      #f5af19);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
      #f12711,
      #f5af19);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: #11998e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
      #11998e,
      #38ef7d);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
      #11998e,
      #38ef7d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  background: #56ccf2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom,
      #2f80ed,
      #56ccf2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom,
      #2f80ed,
      #56ccf2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
      #ec008c,
      #fc6767);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
      #ec008c,
      #fc6767);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}